@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

img {
    width: 100%;
    margin-inline: auto;
    aspect-ratio: auto;
}

article p {
    padding-block: 0.5em;
}

figure {
    width: 100% !important;
}

figcaption {
    font-weight: 200;
    font-size: 12px;
    
}

figcaption::before {
    content: "Izvor: ";
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

article li {
    padding-left: 1em;
    padding-block: 0.8em;
    text-align: left;
    list-style: decimal;
    margin-inline: 1em;
}