.excerpt {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

@media only screen and (min-width: 758px) {
    #excerpt {
        -webkit-line-clamp: 4;
    }
}

@media only screen and (min-width: 1024px) {
    #excerpt {
        -webkit-line-clamp: 5;
    }
}