.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 450px; */
}

@media only screen and (min-width: 600px) {
    .item {
        flex-direction: row;
        max-height: 300px;
        max-width: 800px;
        gap: 16px;
    }
}
