.item {
    transition: all 0.5 linear;
}

.label {
    font-size: inherit;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    line-height: 1em;
}

.item:hover {
    text-decoration: underline;
    color: white;
}