@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

img {
    width: 100%;
    margin-inline: auto;
    aspect-ratio: 16/9;
}

figure {
    width: 100% !important;
}

figcaption {
    font-weight: 200;
    font-size: 12px;
    
}

figcaption::before {
    content: "Izvor: ";
}